$minPagerWidth: 5px;

$borderColor: lightgrey;
$highlightedStateColor: orange;


.pager-state {
  &.highlighted {
    background-color: $highlightedStateColor;
  }
}

.state-pager {
  display: flex;

  &.horizontal {
    flex-direction: row;
    min-height: $minPagerWidth;
    width: 100%;
  }

  &.vertical {
    flex-direction: column;
    height: 100%;
    min-width: $minPagerWidth;
  }
}
