$minPagerWidth: 5px;

$borderColor: lightgrey;
$emptyStateColor: white;
$highlightedStateInactiveBookmarkColor: #ffe0b3;
$highlightedStateColor: orange;
$leadInStateColor: #D6EAF8;

.pager-state {
  &.highlighted {
    background-color: $highlightedStateColor;
  }
  &.highlightedInactive {
    background-color: $highlightedStateInactiveBookmarkColor;
  }
  &.leadin {
    background-color: $leadInStateColor;
  }
  &.empty {
    background-color: $emptyStateColor;
  }
}

.state-pager {
  display: flex;

  &.horizontal {
    flex-direction: row;
    min-height: $minPagerWidth;
    width: 100%;
  }

  &.vertical {
    flex-direction: column;
    height: 100%;
    min-width: $minPagerWidth;
  }
}
