$white: #fff;
$highlight: #f00;
$background: #ffb300;
$selected-background: #ff8f00;
$gray: #d1d1d1;

.history-bookmark {
  align-items: center;
  background-color: $background;
  border-top: 1px solid $white;
  cursor: pointer;
  display: flex;
  min-height: 30px;
  min-width: 250px;
  position: relative;

  &.selected {
    background-color: $selected-background;

    &:not(:hover) {
      border-right: 3px solid $selected-background;
    }
  }

  &:not(:hover) {
    border-right: 3px solid $background;
  }

  &:hover {
    border-right: 3px solid $highlight;
  }

  .label {
    font-family: sans-serif;
    font-size: 11pt;
    font-weight: 300;
  }
}

.history-bookmark-profile-container {
  align-items: stretch;
  display: flex;
  height: 100%;
  position: absolute;
  width: 100%;
}

.history-bookmark-background {
  align-items: stretch;
  display: flex;
  height: 100%;
  width: 100%;
}

%bookmark-details-base {
  align-self: stretch;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
}

.bookmark-details {
  @extend %bookmark-details-base;
  align-items: center;
  flex-direction: row;
  padding: 0 4px;
}

.bookmark-details-editable {
  @extend %bookmark-details-base;
  align-items: stretch;
  flex-direction: column;
  padding: 10px;
}

.bookmark-input {
  background-color: $white;
  border: 1px solid $gray;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  flex: 1;
  padding: 6px 10px;
  width: 100%;
}
