html
  height: 100%
  margin: 0
  padding: 0

body
  display: flex
  margin: 0
  padding: 0
  height: 100%
  overflow: hidden

.app-root
  display: flex
  padding: 10
  flex: 1

.visual-a
  flex: 1
  padding: 30px

.visual-b
  flex: 1
  padding: 30px

.history-viz-container
  display: flex
  flex: 1
  height: 100%
  width: 100%

.app-container
  height: 100%
  width: 100%

.dashboard
  display: flex
  flex-direction: row
  flex: 1
  height: 100%
  width: 100%

  .visual-pane
    display: flex
    flex: 3
    flex-direction: column

  .history-pane
    display: flex
    flex: 1
