{
  "parser": "typescript-eslint-parser",
  "extends": ["airbnb"],
  "env": {
    "node": true,
    "mocha": true,
    "browser": true
  },
  "rules": {
    // conflicts with 'arrow body style'
    "no-confusing-arrow": "off",

    // workaround for incomplete types
    "dot-notation": "off",

    //
    // TypeScript
    //
    // ctors with field initializers
    "no-useless-constructor": "off",
    "no-empty-function": "off",
    "brace-style": "off",

    "no-undef": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "react/prop-types": "off"
  }
}
