{
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "require": [
    "babel-register"
  ],
  "extension": ["js", "jsx"],
  "include": ["src/**/*.js", "src/**/*.jsx"],
  "sourceMap": false,
  "instrument": false
}
