$black: #2c3e50

.history-item-info
  align-items: space-between
  color: $black
  cursor: pointer
  display: flex
  flex: 1

  // Disable Highlighting
  ::selection
    background-color: transparent
    color: $black

  .label
    font-family: sans-serif
    font-size: 11pt
    margin-left: 5px
    padding-left: 3px
    padding-right: 3px

    &:not(.active)
      font-weight: 300
    .active
      font-weight: 500
