
%flexy
  display: flex
  flex: 1

.history-container
  @extend %flexy
  align-content: space-between
  flex-direction: column

.state-list-container
  @extend %flexy
  overflow-y: scroll

.branch-list-container
  overflow-y: scroll

.history-view
  @extend %flexy
  flex-direction: column

.history-item-container
  @extend %flexy
  align-items: stretch
  flex-direction: column
  margin-left: 1px
