
%flexy
  display: flex
  flex: 1

.history-container
  @extend %flexy

.state-list-container
  @extend %flexy

.history-view
  @extend %flexy
  flex-direction: column

.history-item-container
  @extend %flexy
  align-items: stretch
  flex-direction: column
  margin-left: 1px
