.react-tabs {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.ReactTabs__TabPanel {
  display: flex;
  flex: 1;
}

.ReactTabs__TabList {
  margin: 0 !important;
}

.ReactTabs__Tab {
  margin: 0 !important;
}
